<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<array>
		<string>Attend a Club Callout</string>
		<string>Go To a Torch Tuesday</string>
		<string>Attend a Floor Dinner</string>
	</array>
	<key>3</key>
	<array>
		<string>Go To Honors Advising Walk Ins</string>
		<string>Attend a House Event</string>
		<string>Attend a Weekly Tradition</string>
	</array>
	<key>5</key>
	<array>
		<string>Attend a Cornerstone Event</string>
		<string>Propose Event to Funding Board</string>
		<string>Attend an Exec-In Residence</string>
	</array>
	<key>10</key>
	<array>
		<string>Interview for an Internship</string>
		<string>Contract an Honors Course</string>
		<string>Be Selected for RA/RHP, HLC, Prog Comm, Co-Chair, Ambasator, Mentor</string>
	</array>
</dict>
</plist>
